/* .Navbar{
    background-color: rgb(25, 25, 36);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.logo-sec{
    font-family: Poppins,sans-serif;
    padding: 0px 4px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: rgb(242, 243, 244);
}
.mid-sec{
    max-width: 100% ;
    color: rgb(242, 243, 244) ;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.mid-sec  {
    gap: 32px;
    
}
.complete-nav{
    max-width: 1200px;
    display: flex;

} */

.Navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(25, 25, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.complete-nav{
    max-width: 1200px;
    display: flex;
   
}
.left-sec{
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: Poppins,sans-serif;
    color: rgb(242, 243, 244);
    font-weight: bold;
    font-size: 18px;
    

}
.logo{
    height: 40px;
    width: 80px;
}

.mid-sec ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap:10px;
    
}
.mid-sec ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(242, 243, 244) ;
    font-weight: 500;
    cursor: pointer;
    width: 85px;
    transition: all 0.2s ease-in-out 0s;
    
}
.mid-sec ul  :hover{
    color: rgb(235, 142, 173);
}
.right-sec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-btn {
    border: 1.8px solid rgb(133, 76, 230);
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
   
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
}

.nav-btn a {
    color:  rgb(133, 76, 230);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
    cursor: pointer;
}
.nav-btn a:hover{
    color: white;
    background-color: rgb(133, 76, 230);
    border-radius: 20px;
    transition: 0.6s;
    
}

